* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    align-items: center;
}
body {
    display: flex;
    padding-right: 5%;
    margin-right: 5%;

}
ul{
    list-style: none;
}

a {
    text-decoration: none;
    color:rgb(100, 200, 240);
}

nav {
    margin:1%;
    width:70%;
    display: inline;
}

.home {
    list-style:none;
    margin: 1%;
    padding:1%;
    line-height: 1.5;
}
.home li{
    font-size: 20px;
    float: left;
    margin:0 5%;
    justify-content: center;
    flex: 0 0 100%;
}

.home li a{
    display: flex;
    padding: 1% 3%;
    text-align: center;
}

.portfolio {
    margin:3%;
    padding:1%;
    font-size: 400%;
    justify-content: center;
    text-align: center;
    width: 80%;
    white-space: nowrap;
}

aside {
    display: flexbox;
    flex: 0 0 30%;
    justify-content: center;
}

.mainBody {
    flex: 0 0 70%;
    width: 80%;
   
}

navbar{
    position:fixed;
    padding: 20px;
    line-height:2;
    display: inline-block;
    overflow: hidden;
}

.menu{
    
    margin: 2%;
    width:100%;
    box-sizing: border-box;
}
        
section {
    line-height: 2;
    display: flex;
    flex-direction: column;
    
}

footer {
    display: flexbox;
    justify-content: center;
    text-align: center;
    padding: 3%;
    margin-right: 30%;
}

footer h3::before, footer h3::after {
    content: " 🩵 ";
}

.links{
   display: flex;
    justify-content: space-between;
    margin: 3%;
    padding:2%;
    margin-top: 0;
    width: 70%;
    flex-wrap: wrap;
}

.projects ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin-right: 1%;
}
.projects fig img{
    border-radius: 20%;
    width: 200px;
}

.projects figcaption {
    text-align: center;
}
.projects fig img:hover {
    border: 10px solid lightblue;
}
#github a, #email a, #portfolio a{
    color:white;
}

#github, #email, #portfolio{
    margin:3%;
    width: 24%;
    padding:auto;
}



button {
    display: inline-block;
    background-color: rgb(100, 200, 240);
    border: 10px solid rgb(173, 235, 255);
    border-radius: 50px;
    color:white;
    margin:0px 2% 0px 2%;
    width: 125%;
    padding:1%;
    }

#pfp {
    border-radius: 100%;
    width:150px;
}

#fig1 img {
    width:300px;
}
a:hover {
    text-decoration: underline;
    color:gold;
    font-size: 105%;
    transition-timing-function: ease-in;
}

button:hover,#pfp:hover {
    border: 10px solid gold;
    
}

#ContactMe, #MyWork, #AboutMe {
    width:80%;
}

.row2 {
    height:200px;
    width: 200px;
}

#image {
    width: 100%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    body{
        flex: 60%;
      }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    aside {
      flex: 0 0 0%;
      display: none;
    }
    .mainBody{
        flex: 1 0 100%;
        margin: 15%;
    }
    .portfolio{
        flex:0 2 100%;
        font-size: 182%;
        margin: 0;
    }
    .links {
        flex-direction: column;
    }
    button {
        width: 500%;
    }
    nav {
        display: inline-block;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    footer {
        color:rgb(100, 200, 240);
        margin-right: 20%;
    }
}